@charset "utf-8";

body{
    background-color:lightcyan;
}

.top-title {

    /* font-family: 'Yusei Magic', sans-serif */
    font-family:'Mochiy Pop P One','Ribeye Marrow','Courier New', Courier, monospace;
}
.top-title1{
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: bold;
    /* font-family: 'Yusei Magic', sans-serif */
    /* font-family:'Mochiy Pop P One','Ribeye Marrow','Courier New', Courier, monospace; */
}
.top-title2 {
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: bold;
    color: rgb(59, 59, 199);
    /* font-family: 'Yusei Magic', sans-serif */
    /* font-family:'Mochiy Pop P One','Ribeye Marrow','Courier New', Courier, monospace; */
}
.top-title3 {
    font-family: 'Luckiest Guy';
    /* font-family:'Mochiy Pop P One','Ribeye Marrow','Courier New', Courier, monospace; */
}

.wf-nicomoji {
    font-family: "Nico Moji";
}
.j-font{
    font-family: 'Yusei Magic', sans-serif
}
.text-under-none{
    text-decoration: none;
}
.brown-color{
    background-color:rgb(235, 116, 57);
}
.font-s{
    font-size: 1rem;
}
.font-regu{
    font-size: 1.15rem;
}
.font-regu2{
    font-size: 1.25rem;
}

.hidden{
    visibility: hidden
}

.space-text{
    white-space: pre-wrap;
}
  .fc-title {
      font-size: .1.5rem;
  }

.center_item{
    margin:0 auto;
}
/* ---------------イベントカテゴリのドロップダウンの幅を広げる */
.dropdown-menu {
    width: 200%;
    margin-top: 60%;
    padding-left: 10%;
}




